<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <include file="$(find turtlebot_navigation)/launch/gmapping_demo.launch" />
  <node name="busroute" pkg="busroute" type="busroute_node" />
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find busroute)/config/busrouting.rviz"/>
</launch>
